{% extends "recipients/base.html" %}
{% block content %}
{% if user.is_authenticated and user == letter.owner %}
    <div class="row mt-5 mx-auto p-2">
        <div class="col-1"></div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for letter in object_list %}
                  <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Письмо</h5>
                            <p class="card-text">Тема письма: {{ letter.subject }}</p>
                            <a class="btn btn-primary" href="{% url 'recipients:letter_detail' letter.pk %}" role="button">Подробная информация</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        <div class="col-1"></div>
    </div>
{% endif %}
{% endblock %}