{% extends "recipients/base.html" %}
{% block content %}
     {% if user.is_authenticated and user == recipient.owner and user == mailing.owner or perms.recipients.can_view_list_recipients %}
    <div class="row mt-5 mx-auto p-2">
        <div class="col-1"></div>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for recipient in object_list %}
                  <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Получатель рассылки</h5>
                            <p class="card-text">Адрес электронной почты: {{ recipient.email }}</p>
                            <p class="card-text">Имя: {{ recipient.first_name }}</p>
                            <p class="card-text">Фамилия: {{ recipient.last_name }} </p>
                            <a class="btn btn-primary" href="{% url 'recipients:recipient_detail' recipient.pk %}" role="button">Подробная информация</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Рассылки</h5>
                            <p class="card-text">Количество рассылок: {{ count_mailing }}</p>
                            <p class="card-text">Количество активных рассылок: {{ active_mailings_count }}</p>
                        </div>
                    </div>
                  </div>
            </div>
        <div class="col-1"></div>
    </div>
    {% endif %}
{% endblock %}